.hubs {
    margin: 5%;
}

.btn {
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
}

.card-title {
    color: #212529;
}

.card-text {
    color: #212529;
}

.circle {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #007bff;
}

.circle::before {
    content: "+";
    height: 110%;
    font-size: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: courier;
    color: white;
}

.modal {
    text-align: center;
}

.modal-dialog {
    margin-top: 15%;
    vertical-align: middle;
}

.btn-circle {
    display: block;
    position: absolute;
    top: -1vh;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 1.42857;
}

.fa {
    margin-top: 0.5vh;
    color: #fff
}

.modal-header {
    justify-content: center;
    font-weight: bold
}