body {
    background: #63738a;
    font-family: 'Roboto', sans-serif;
}

.validation {
    color: #F00;
}

.field-validation-error {
    color: #F00;
}

.input-validation-error {
    border: 2px solid #F00;
}

input[type="checkbox"].input-validation-error {
    outline: 2px solid #F00;
}