@model DeadLinerWebApp.PL.Models.CodeViewModel
@section css {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" />
}

<style>
    .login-form h2:before, .login-form h2:after {
        width: 20%;
    }
</style>

<div class="login-form">
    <form asp-controller="Account" asp-action="EnterCode" method="post">
        <h2 class="text-center">Enter code</h2>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <input asp-for="ActualCode" type ="number" class="form-control" placeholder="Code">
            <span asp-validation-for="ActualCode"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>
    </form>
</div>