@model DeadLinerWebApp.PL.Models.ForgotPasswordViewModel
@section css {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" />
}

<style>
    .login-form h2:before, .login-form h2:after {
        width: 5%;
    }
</style>

<div class="login-form">
    <form asp-controller="Account" asp-action="ForgotPassword" method="post">
        <h2 class="text-center">Forgot password</h2>
        <div class="form-group">
            <input asp-for="Email" type="email" class="form-control" placeholder="Email">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>
    </form>
</div>