@section css{
    <link href="@Url.Content("~/css/hub.css")" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
}

<div class="d-flex flex-row">
    <div class="d-inline-flex main-container col-md-8 float-left div-block">
        <div class="main-data table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">FullName</th>
                        <th scope="col">testDate1</th>
                        <th scope="col">testDate2</th>
                        <th scope="col">testDate3</th>
                        <th scope="col">testDate4</th>
                        <th scope="col">testDate5</th>
                        <th scope="col">testDate6</th>
                        <th scope="col">testDate7</th>
                        <th scope="col">testDate8</th>
                        <th scope="col">testDate9</th>
                        <th scope="col">testDate10</th>
                        <th scope="col">testDate11</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>testFullname</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                    </tr>
                    <tr>
                        <td>testFullname</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                    </tr>
                    <tr>
                        <td>testFullname</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                    </tr>
                    <tr>
                        <td>testFullname</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                    </tr>
                    <tr>
                        <td>testFullname</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                    </tr>
                    </tr>
                    <tr>
                        <td>testFullname</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                    </tr>
                    <tr>
                        <td>testFullname</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                    </tr>
                    <tr>
                        <td>testFullname</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                    </tr>
                    <tr>
                        <td>testFullname</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                    </tr>
                    <tr>
                        <td>testFullname</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                    </tr>
                    <tr>
                        <td>testFullname</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                    </tr>
                    <tr>
                        <td>testFullname</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                    </tr>
                    <tr>
                        <td>testFullname</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                    </tr>
                    <tr>
                        <td>testFullname</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                    </tr>
                    <tr>
                        <td>testFullname</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                        <td>smthDone</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="tasks overflow-auto row d-inline-flex container tasks col-md-4 inline-block float-right">
        <div class="">
            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="fa fa-tasks"></i>&nbsp;Task List</div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class=" list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="todo-indicator bg-success"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">

                                                    <a href="#" data-toggle="modal" data-target="#exampleModal1">
                                                        Task_name
                                                    </a>
                                                    <div class="widget-subheading">Description</div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="exampleModalLabel">Task_name</h4>

                                                                </div>
                                                                <div class="modal-body">
                                                                    <h4>Desription</h4>
                                                                    <p>Make some stuff blablabla</p>
                                                                    <h4>Resorces</h4>
                                                                    <p><a href="https://www.w3.org">Find all necessary info here</a></p>
                                                                    <h4>Deadline - yesterday</h4>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="todo-indicator bg-success"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">

                                                    <a href="#" data-toggle="modal" data-target="#exampleModal2">
                                                        Task_name
                                                    </a>
                                                    <div class="widget-subheading">Description</div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="exampleModalLabel">Task_name</h4>

                                                                </div>
                                                                <div class="modal-body">
                                                                    <h4>Desription</h4>
                                                                    <p>Make some stuff blablabla</p>
                                                                    <h4>Resorces</h4>
                                                                    <p><a href="https://www.w3.org">Find all necessary info here</a></p>
                                                                    <h4>Deadline - yesterday</h4>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="todo-indicator bg-success"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">

                                                    <a href="#" data-toggle="modal" data-target="#exampleModal3">
                                                        Task_name
                                                    </a>
                                                    <div class="widget-subheading">Description</div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="exampleModalLabel">Task_name</h4>

                                                                </div>
                                                                <div class="modal-body">
                                                                    <h4>Desription</h4>
                                                                    <p>Make some stuff blablabla</p>
                                                                    <h4>Resorces</h4>
                                                                    <p><a href="https://www.w3.org">Find all necessary info here</a></p>
                                                                    <h4>Deadline - yesterday</h4>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                    </li>


                                    <li class="list-group-item">
                                        <div class="todo-indicator bg-success"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">

                                                    <a href="#" data-toggle="modal" data-target="#exampleModal4">
                                                        Task_name
                                                    </a>
                                                    <div class="widget-subheading">Description</div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="exampleModalLabel">Task_name</h4>

                                                                </div>
                                                                <div class="modal-body">
                                                                    <h4>Desription</h4>
                                                                    <p>Make some stuff blablabla</p>
                                                                    <h4>Resorces</h4>
                                                                    <p><a href="https://www.w3.org">Find all necessary info here</a></p>
                                                                    <h4>Deadline - yesterday</h4>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="todo-indicator bg-success"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">

                                                    <a href="#" data-toggle="modal" data-target="#exampleModal5">
                                                        Task_name
                                                    </a>
                                                    <div class="widget-subheading">Description</div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="exampleModalLabel">Task_name</h4>

                                                                </div>
                                                                <div class="modal-body">
                                                                    <h4>Desription</h4>
                                                                    <p>Make some stuff blablabla</p>
                                                                    <h4>Resorces</h4>
                                                                    <p><a href="https://www.w3.org">Find all necessary info here</a></p>
                                                                    <h4>Deadline - yesterday</h4>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="todo-indicator bg-success"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">

                                                    <a href="#" data-toggle="modal" data-target="#exampleModal6">
                                                        Task_name
                                                    </a>
                                                    <div class="widget-subheading">Description</div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="exampleModalLabel">Task_name</h4>

                                                                </div>
                                                                <div class="modal-body">
                                                                    <h4>Desription</h4>
                                                                    <p>Make some stuff blablabla</p>
                                                                    <h4>Resorces</h4>
                                                                    <p><a href="https://www.w3.org">Find all necessary info here</a></p>
                                                                    <h4>Deadline - yesterday</h4>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="todo-indicator bg-success"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">

                                                    <a href="#" data-toggle="modal7" data-target="#exampleModal">
                                                        Task_name
                                                    </a>
                                                    <div class="widget-subheading">Description</div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="exampleModalLabel">Task_name</h4>

                                                                </div>
                                                                <div class="modal-body">
                                                                    <h4>Desription</h4>
                                                                    <p>Make some stuff blablabla</p>
                                                                    <h4>Resorces</h4>
                                                                    <p><a href="https://www.w3.org">Find all necessary info here</a></p>
                                                                    <h4>Deadline - yesterday</h4>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="todo-indicator bg-success"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">

                                                    <a href="#" data-toggle="modal" data-target="#exampleModal8">
                                                        Task_name
                                                    </a>
                                                    <div class="widget-subheading">Description</div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="exampleModalLabel">Task_name</h4>

                                                                </div>
                                                                <div class="modal-body">
                                                                    <h4>Desription</h4>
                                                                    <p>Make some stuff blablabla</p>
                                                                    <h4>Resorces</h4>
                                                                    <p><a href="https://www.w3.org">Find all necessary info here</a></p>
                                                                    <h4>Deadline - yesterday</h4>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="todo-indicator bg-success"></div>
                                        <div class="widget-content p-0">
                                            <div class="widget-content-wrapper">
                                                <div class="widget-content-left flex2">

                                                    <a href="#" data-toggle="modal" data-target="#exampleModal9">
                                                        Task_name
                                                    </a>
                                                    <div class="widget-subheading">Description</div>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="exampleModalLabel">Task_name</h4>

                                                                </div>
                                                                <div class="modal-body">
                                                                    <h4>Desription</h4>
                                                                    <p>Make some stuff blablabla</p>
                                                                    <h4>Resorces</h4>
                                                                    <p><a href="https://www.w3.org">Find all necessary info here</a></p>
                                                                    <h4>Deadline - yesterday</h4>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
                <!--<div class="d-block text-right card-footer"><button class="mr-2 btn btn-link btn-sm">Cancel</button><button class="btn btn-primary">Add Task</button></div>-->
            </div>
        </div>
    </div>

</div>